@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: #111;
}
body{
    min-height: 1800px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 40px;
    z-index: 3;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    transition: 0.5s;
    background-color:  #ff0157;
    width: 100%;
    box-shadow: 0 0 6px 0 #0c0b0b;
    box-sizing: border-box;
}
nav .menuToggle i{
    display: none;
}
nav .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
nav .logo span {
    color: #09ff01;
}
nav .navigation {
    position: relative;
    display: flex;
}
nav .navigation li {
    list-style: none;
    margin-left: 30px;
}
nav .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
nav .navigation li a:hover{
    color: #8b1e45;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../pics/pizzawallpaper.jpg) ;
    background-size: cover ;
}
.banner .content {
    max-width: 900px;
    text-align: center;
    background: rgba(221, 214, 219, 0.5);
    border-style: none;
    border-radius: 50px;
}
.banner .content h2 {
    font-size: 5em;
    color: #fff;
}
.banner .content p {
    font-size: 1em;
    font-weight: 800;
    color: rgb(0, 0, 0);
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 20px;
}
.btn:hover{
    transition: 0.5s;
    letter-spacing: 6px;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:space-between ;
}
.row .col50 {
    position: relative;
    width: 48%;
}
.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.col50 .imgbx {
    position: relative;
    width: 100%;
    height: 100%;
}
.col50 .imgbx img , .pic1 img , .pic2 img , .pic3 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box  {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgb(0, 0, 0, 0.08);
}
.menu .content .box .pic1 , .pic2 {
   position: relative;
   width: 100%;
   height: 300px;
}
.menu .content .box .text , .expert .text{
    padding: 15px 0 5px;
}
.menu .content .box .text h3 , .expert h3 {
    font-weight: 400;
    color: #111;
}
.expert .content , .testimonials .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box {
    width: 250px;
    margin: 15px;
}
.testimonials {
    background: url(../pics/backimg1.jpg);
    background-size: cover;
}
.white .titleText , .white p{
    color: #fff;
}
.testimonials .box {
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pic3 {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonials .text {
    text-align: center;
}
.testimonials .text p {
    color: #666;
    font-style: italic;
}
.testimonials .text h3 {
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 600;
}
.contact {
    background: url(../pics/backimg2.jpg);
    background-size: cover;
}
.contact .title{
    background: rgba(197, 193, 196, 0.562);
    border-style: none;
    border-radius: 50px;
}
.contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputbox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputbox input ,
.contactForm .inputbox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    resize: none;
}
.contactForm .inputbox .btn2{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.contactForm .inputbox .btn2:hover{
    letter-spacing: 6px;
    transition: 0.5s;
}
.cright {
    padding: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
.cright p {
    color: #333;
}
.cright a{
    text-decoration: none;
    color: #ff0157;
    font-weight: 500;
}
@media (max-width: 991px)
{
    nav{
        padding: 5px 20px;
    }
    .banner .content {
        max-width: 700px;
    }
    .expert p , .menu p , .contact p {
        text-align: center;
    }
    .contactForm {
        padding: 10px;
        width: 300px;
        margin-top: 10px;
        margin-left: 30px;
    }
    section {
        padding: 100px 20px;
    }
    .white .titleText, .white p {
        text-align: center;
    }
    .menu .content .box .text h3, .expert h3 {
        font-weight: 400;
        color: #111;
        text-align: center;
    }
    .col50 .imgbx img {
        position: relative;
        height: 350px;
        margin-top: 20px;
    }
    .row {
        position: relative;
        width: 100%;
        display: block;
    }
    .row .col50 {
        position: relative;
        width: 100%;
    }
    .banner .content p {
        font-size: 15px;
        text-align: center;
    }
    .banner .content h2 {
        font-size: 45px;
    }
    nav .navigation{
        display: none;
    }
    .menuToggle{
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    }
    /*.navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 0;
        left: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    .navigation li {
        list-style: none;
        margin-left: 0;
    }
    nav .navigation li a {
        color: #111;
        font-size: 1.6em;
    }*/
}